<h1>Editing Book</h1>
<%= form_with model:@book, local:true do |f| %>

  <p>Title</p>
  <%= f.text_field :title %>
  <p>Body</p>
  <%= f.text_area :body %>
<br>
  <%= f.submit 'Update Book' %>

<% end %>

<tr>
  <td>
 <%= link_to "show", book_path(@book) %>
 </td>
 <td>
 <%= link_to "Back", books_path %>
 </td>
 </tr>