<div class="edit-title">
<h1>Editing Book</h1>
<% if @book.errors.any? %>
  <%= @book.errors.count %>errors prohibited this book from being saved:<br>
   <% @book.errors.full_messages.each do |message| %>
    <%= message %><br>
  <% end %>
<% end %>

<%= form_with model:@book, local:true do |f| %>

  <p>Title</p>
  <%= f.text_field :title %>
  <p>Body</p>
  <%= f.text_area :body %>
<br>
  <%= f.submit 'Update Book' %>

<% end %>

<tr>
  <td>
 <%= link_to "show", book_path(@book) %>
 </td>
 |
 <td>
 <%= link_to "Back", books_path %>
 </td>
 </tr>
 </div>