<h1>Books</h1>
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Body</th>
            <th colspan="3"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
            <%= link_to "Show", book_path(@books) %>
            </td>
            <td>
            <%= link_to "Edit", edit_book_path(@books) %>
            </td>
            <td>
                Destroy
            </td>
        </tr>
    </tbody>
</table>

<h3>New book</h3>
<%= form_with model:@book, local:true do |f| %>

  <h4>Title</h4>
  <%= f.text_field :title %>
  <h4>Body</h4>
  <%= f.text_area :body %>
<br>
  <%= f.submit 'Create Book' %>

<% end %>