<h1>Books</h1>
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Body</th>
            <th colspan="3"></th>
        </tr>
        <tr>

        </tr>
    </thead>
    <tbody>
        <tr>
         <% @books.each do|book| %>
            <td><%= book.title %></td>
            <td><%= book.body %></td>

            <td>
            <%= link_to "Show", book_path(book.id) %>
            </td>
            <td>
            <%= link_to "Edit", edit_book_path(book.id) %>
            </td>
            <td>
            <%= link_to "Destroy", book_path(book), method: :delete, "data-confirm" => "Are you sure？" %>
            </td>
        </tr>
         <% end %>
    </tbody>
</table>

<h2>New Book</h2>
<% if @book.errors.any? %>
  <%= @book.errors.count %>件のエラーが発生しました
   <% @book.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>

<%= form_with model:@book, local:true do |f| %>

  <h5>Title</h5>
  <%= f.text_field :title %>
  <h5>Body</h5>
  <%= f.text_area :body %>
<br>
  <%= f.submit 'Create Book' %>

<% end %>